<footer class="bg-blue builder-bg footer-style8 padding-30px-tb xs-padding-40px-tb" id="footer-section8">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 sm-text-center sm-margin-two-bottom ">
				<!-- logo -->
				<a class="margin-eight-bottom display-inline-block inner-link" href="#home">
					{{!-- <img alt="" data-img-size="(W)163px X (H)39px" src="/assets/images/yola/yolafooter.png" /> --}}
				</a>
				<!-- end logo -->
				<div class="tz-text width-80 sm-width-100">
					<p class="no-margin-bottom" style="color: #fff">
						<!-- We've been crafting beautiful websites, launching stunning brands and making clients happy for years. With our prestigious craftsmanship. -->
					</p>
				</div>
			</div>
			<!-- links -->
			<!-- end links -->
		</div>
		<div class="row equalize" style="color: #fff">
			<div class="border-top margin-five-top padding-five-top tz-border">
				<div class="col-md-6 col-sm-6 col-xs-12 display-table xs-text-center xs-margin-two-bottom">
					<div class="display-table-cell-vertical-middle">
						<span class="tz-text text-small">
                   </span>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 display-table text-right xs-text-center">
					<div class="display-table-cell-vertical-middle social social-icon-color icon-extra-small no-margin">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
