<header class="header-style9" id="header-section13">
    <!-- nav -->
    <nav class="navbar tz-header-bg alt-font no-margin shrink-transparent-header-light light-header">
        <div class="container-fluid navigation-menu full-header xs-padding-15-lr">
            <div class="row">
                <!-- logo -->
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/" class="inner-link"><img id="image-logo" alt="" src="" data-img-size="(W)163px X (H)39px"></a>
                </div>
                <!-- end logo -->
                <div class="col-md-9 col-sm-8 col-xs-6 position-inherit xs-no-padding-left">
                    <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse pull-right">
                        <ul class="nav navbar-nav font-weight-500">
                           <li class="propClone"><a class="inner-link" href="#slider-section2">BOT Settings</a></li>
                           <li class="propClone"><a class="inner-link" href="#feature-section18">Send proactive message</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end nav -->
</header>
