<section class="padding-50px-tb bg-gray builder-bg contact-form-style6 border-none xs-padding-60px-tb wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" id="contact-section12">
    <div class="container">
        <div class="row" id="form">
            <!-- section title -->
            <div class="col-md-6 col-sm-12 col-xs-12 center-col text-center">
                <h2 class="section-title-large sm-section-title-medium xs-section-title-large text-dark-gray font-weight-600 alt-font margin-six-bottom xs-margin-fifteen-bottom tz-text">
                        ĐĂNG KÝ
                    </h2>
            </div>
            <!-- end section title -->
            <!-- contact form  -->
            <div class="col-md-6 col-sm-12 col-xs-12 center-col text-center">
                <div class="tab-style8">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- tab navigation -->
                            <ul class="nav nav-tabs nav-tabs-light text-left alt-font text-small display-inherit text-center font-weight-500">
                                <li class="active"><a href="#tab_sec1" data-toggle="tab"><span class="tz-text">Cài đặt BOT</span></a></li>
                                {{!-- <li><a href="#tab_sec2" data-toggle="tab"><span class="tz-text">Card Info</span></a></li> --}}
                            </ul>
                            <!-- tab end navigation -->
                        </div>
                    </div>
                    <div class="tab-content">
                        <!-- tab content -->
                        <div class="tab-pane med-text fade in active" id="tab_sec1">
                            <div class="row">
                                <form action="/bot/add_update/vIJQh69U0r" class="width-100" method="post">
                                    <textarea class="medium-input border-radius-4" style="height: 150px" data-email="required" id="greeting" name="greeting" placeholder="*Your Greeting Message" type="text"></textarea>
                                    <input class="medium-input border-radius-4" data-email="required" id="thu-cung" name="thu-cung" placeholder="* Thú cưng" type="text" />
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1">
                                            <input class="medium-input border-radius-4" data-email="required" id="cho1" name="thu-cung-1" placeholder="Thú cưng 1" type="text" />
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="thu-cung-1-number" placeholder="Number of cards" type="text" />
                                                </div>
                                                <div class="col-md-4">
                                                    {{!-- <button type="button" style="margin-left:-75%" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Card</button> --}}
                                                </div>
                                            </div>

                                            <input class="medium-input border-radius-4" data-email="required" id="cho2" name="thu-cung-2" placeholder="Thú cưng 2" type="text" />
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="thu-cung-2-number" placeholder="Number of cards" type="text" />
                                                </div>
                                                <div class="col-md-4">
                                                    {{!-- <button type="button" style="margin-left:-75%" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Card</button> --}}
                                                </div>
                                            </div>

                                            <input class="medium-input border-radius-4" data-email="required" id="cho3" name="thu-cung-3" placeholder="Thú cưng 3" type="text" />
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="thu-cung-3-number" placeholder="Number of cards" type="text" />
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" style="margin-left:-75%" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Card</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input class="medium-input border-radius-4" data-email="required" id="san-pham" name="san-pham" placeholder="* Sản phẩm" type="text" />
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1">
                                            <input class="medium-input border-radius-4" data-email="required" id="meo1" name="san-pham-1" placeholder="Sản phẩm 1" type="text" />
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="san-pham-1-number" placeholder="Number of cards" type="text" />
                                                </div>
                                                <div class="col-md-4">
                                                    {{!-- <button type="button" style="margin-left:-75%" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Card</button> --}}
                                                </div>
                                            </div>

                                            <input class="medium-input border-radius-4" data-email="required" id="meo2" name="san-pham-2" placeholder="Sản phẩm 2" type="text" />
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="san-pham-2-number" placeholder="Number of cards" type="text" />
                                                </div>
                                                <div class="col-md-4">
                                                    {{!-- <button type="button" style="margin-left:-75%" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Card</button> --}}
                                                </div>
                                            </div>

                                            <input class="medium-input border-radius-4" data-email="required" id="meo3" name="san-pham-3" placeholder="Sản phẩm 3" type="text" />
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="san-pham-3-number" placeholder="Number of cards" type="text" />
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" style="margin-left:-75%" class="btn btn-default" data-toggle="modal" data-target="">Add Card</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input class="medium-input border-radius-4" data-email="required" id="dich-vu" name="dich-vu" placeholder="* Dịch vụ" type="text" />
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1">
                                            <input class="medium-input border-radius-4" data-email="required" id="heo1" name="dich-vu-1" placeholder="Dịch vụ 1" type="text" />
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="dich-vu-1-number" placeholder="Number of cards" type="text" />
                                                </div>
                                                <div class="col-md-4">
                                                    {{!-- <button type="button" style="margin-left:-75%" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Card</button> --}}
                                                </div>
                                            </div>

                                            <input class="medium-input border-radius-4" data-email="required" id="heo2" name="dich-vu-2" placeholder="Dịch vụ 2" type="text" />
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="dich-vu-2-number" placeholder="Number of cards" type="text" />
                                                </div>
                                                <div class="col-md-4">
                                                    {{!-- <button type="button" style="margin-left:-75%" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Card</button> --}}
                                                </div>
                                            </div>

                                            <input class="medium-input border-radius-4" data-email="required" id="heo3" name="dich-vu-3" placeholder="Dịch vụ 3" type="text" />
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="dich-vu-3-number" placeholder="Number of cards" type="text" />
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" style="margin-left:-75%" class="btn btn-default" data-toggle="modal" data-target="">Add Card</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {{!-- <input class="medium-input border-radius-4" data-email="required" id="email" name="class" placeholder="*Con của anh/chị đang học lớp mấy?" type="text" /> --}}
                                    <button class="tz_submit btn-medium btn-circle btn bg-sky-blue text-white tz-text" id="parent-submit-1" style="width: 100%" type="submit">
                                       Publish
                                   </button>
                                   {{!-- <a href="#tab_sec2" data-toggle="tab" class="tz_submit btn-medium btn-circle btn bg-sky-blue text-white tz-text" style="width: 100%">
                                       Next</a> --}}
                                    
                                </form>

                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- tab content -->
                        <div class="tab-pane fade in" id="tab_sec2">
                            <div class="row">
                                <form action="javascript:void(0)" class="width-100" method="post">
                                    Card 1
                                    <input class="small-input border-radius-4" data-email="required" name="card-1-title" placeholder="Title" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-1-desctiption" placeholder="Description" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-1-thumbnail" placeholder="Thumbnail Image" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-1-button" placeholder="Button Text" type="text" />
                                    <div style="border-bottom: 1px solid #bb4444; margin-bottom: 15px"></div>
                                    Card 2
                                    <input class="small-input border-radius-4" data-email="required" name="card-2-title" placeholder="Title" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-2-desctiption" placeholder="Description" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-2-thumbnail" placeholder="Thumbnail Image" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-2-button" placeholder="Button Text" type="text" />
                                    <div style="border-bottom: 1px solid #bb4444; margin-bottom: 15px"></div>
                                    Card 3
                                    <input class="small-input border-radius-4" data-email="required" name="card-3-title" placeholder="Title" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-3-desctiption" placeholder="Description" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-3-thumbnail" placeholder="Thumbnail Image" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-3-button" placeholder="Button Text" type="text" />
                                    <div style="border-bottom: 1px solid #bb4444; margin-bottom: 15px"></div>
                                    Card 4
                                    <input class="small-input border-radius-4" data-email="required" name="card-4-title" placeholder="Title" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-4-desctiption" placeholder="Description" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-4-thumbnail" placeholder="Thumbnail Image" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-4-button" placeholder="Button Text" type="text" />
                                    <div style="border-bottom: 1px solid #bb4444; margin-bottom: 15px"></div>
                                    Card 5
                                    <input class="small-input border-radius-4" data-email="required" name="card-5-title" placeholder="Title" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-5-desctiption" placeholder="Description" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-5-thumbnail" placeholder="Thumbnail Image" type="text" />
                                    <input class="small-input border-radius-4" data-email="required" name="card-5-button" placeholder="Button Text" type="text" />
                                    <div style="border-bottom: 1px solid #bb4444; margin-bottom: 15px"></div>
                                    
                                    <a href="#tab_sec1" data-toggle="tab" class="tz_submit btn-medium btn-circle btn bg-light-gray text-white tz-text" style="width: 100%">
                                       Back</a>
                                       <br><br>
                                    <button class="tz_submit btn-medium btn-circle btn bg-medium-green text-white tz-text" id="student-submit" style="width: 100%" type="submit">
                                        Publish
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- end tab content -->
                    </div>
                </div>
            </div>
            <!-- end contact form  -->
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{#contentFor "pageScripts"}}
    <script>
        $(document).ready(function($) {
          console.log("                                   *********                           \n" +
                   "                             *******       *******                     \n" +
                   "                           ***                    ***                  \n" +
                   "                         **                         **                 \n" +
                   "                *****   **                           ***               \n" +
                   "             ****   *****                              **              \n" +
                   "           **                                           **             \n" +
                   "          *                                              *             \n" +
                   "         **              **                **            *             \n" +
                   "      ****               **        **      **           ******         \n" +
                   "    **                   **        **      **                 ****     \n" +
                   "  ***                              **                            ***   \n" +
                   "  *                                **                              **  \n" +
                   " *                               ****                               *  \n" +
                   " *                                                                  *  \n" +
                   "**                                                                  ** \n" +
                   "*                            **         **                           * \n" +
                   "**                            ***********                            * \n" +
                   " *                                ***                               ** \n" +
                   "  **                                                               **  \n" +
                   "   ***                                                            **   \n" +
                   "      ****                                                     ****    \n" +
                   "         ****                                               ****       \n" +
                   "            *************************************************          \n" +
                   " " +
                   " Happy to see you here!" +
                   " Contact me: quylk2906@gmail.com - 0963878723")
        })



    </script>
    <script type="text/javascript">
     </script>
{{/contentFor}}
